## Deliverable 3. Create a Travel Itinerary Map.

In [26]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [27]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Saint-Pierre,RE,73.29,clear sky,-21.3393,55.4781,Lindsey Hôtel
1,4,Copperas Cove,US,80.80,broken clouds,31.1241,-97.9031,Super 8 by Wyndham Copperas Cove
2,7,Vaini,TO,79.52,overcast clouds,-21.2000,-175.2000,Keleti Beach Resort
3,8,Cabedelo,BR,77.67,few clouds,-6.9811,-34.8339,Hotel Pigalle
4,10,Rikitea,PF,76.59,overcast clouds,-23.1203,-134.9692,People ThankYou

In [28]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for thec city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [29]:
# 4a. Add a marker layer for each city to the map.

locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)


# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Weatherford']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Weatherford']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Copperas Cove']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Seguin'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'San Patricio']

In [39]:

# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
# DataFrame using the to_numpy function and list indexing.
start = vacation_start.iloc[0,5:7].to_numpy()
end = vacation_end.iloc[0,5:7].to_numpy()
stop1 = vacation_stop1.iloc[0,5:7].to_numpy()
stop2 = vacation_stop2.iloc[0,5:7].to_numpy()
stop3 = vacation_stop3.iloc[0,5:7].to_numpy()

stop3

array([28.017, -97.5169], dtype=object)

In [42]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
# Latitude-longitude pairs
import gmaps.datasets

Weatherford = start
Copperas_Cove = stop1
Seguin = stop2
San_Patricio = stop3

fig = gmaps.figure()
Texas = gmaps.directions_layer(
        Weatherford, Weatherford, waypoints=[stop1, stop2, stop3],
        travel_mode='WALKING')
fig.add_layer(Texas)

fig

Figure(layout=FigureLayout(height='420px'))

In [44]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.

itinerary_df = pd.concat([vacation_start, vacation_stop1, 
                          vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,355,Weatherford,US,78.46,overcast clouds,32.7593,-97.7972,Woodland Suites
1,4,Copperas Cove,US,80.80,broken clouds,31.1241,-97.9031,Super 8 by Wyndham Copperas Cove
2,516,Seguin,US,83.84,clear sky,29.5688,-97.9647,La Quinta Inn & Suites by Wyndham Seguin
3,167,San Patricio,US,81.32,overcast clouds,28.0170,-97.5169,"Motel 6 Sinton, TX"

In [45]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]
# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [47]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))